/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.btn {
  padding: 0 20px;
  border-radius: 20px;
}

.btn-purlpe {
  color: white;
  background-color: #9069cd;
  border: 2px solid #9069cd;
}

.btn-white {
  color: #9069cd;
  border: 2px solid #9069cd;
}

.navbar {
  display: flex;
  justify-content: space-between;
  line-height: 60px;
} */

/* .navbar .subnav {
} */

/* .header-logo {
  height: 70px;
  /* width: 100%; 
} */

/* 
.footer {
  color: #7b4ec3;
} */
